p.error {
  /* select classes with a .class-name */
  color: red;
}

.success.feedback {
  color: rgb(0, 180, 0);
}

#content {
  background-color: #ebebeb;
  padding: 20px;
}

div p {
  color: blueviolet;
}

a {
  display: block;
}

a[href*="google"] {
  background-color: rgb(0, 110, 74);
  color: white;
  text-decoration: none;
  font-weight: bold;
}
a[href*="netflix"] {
  background-color: red;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
